<div class="ml-5 show-contact-details mt-4 col-md-10">
  <div class="d-flex justify-content-between">
    <h1 class="m-0 p-0">{{ contact.name }}</h1>
    <div class="pt-3 d-flex">
      <a
        class="d-block ml-5 edit-contact"
        [routerLink]="['/update', contactId]"
      >
        Edit</a
      >
      <a
        class="d-block ml-4 delete-contact"
        routerLink="/"
        (click)="deleteContact(contactId)"
      >
        Delete</a
      >
    </div>
  </div>
  <p>Email: {{ contact.email }}</p>
  <p class="mb-0">Mobile: {{ contact.mobile }}</p>
  <p class="mt-0">Landline: {{ contact.landline }}</p>
  <p>Website: {{ contact.website }}</p>
  <p>Address: {{ contact.address }}</p>
</div>
<!-- [class.d-none]="!showContent" -->
